In [5]:
# For loop
for i in range(5):
    print(i, 'Hello')

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello

In [6]:
# for(i=1; i<5; i++)
for i in range(1, 5):
    print(i, 'Hello')

1 Hello
2 Hello
3 Hello
4 Hello

In [7]:
# for(i=1; i<5; i = i+2)

for i in range(1, 5, 2):
    print(i, 'Hello')

1 Hello
3 Hello

In [1]:
s = 0
n = int(input('Enter n = '))
for i in range(n):
    x = int(input('Enter x = '))
    s = s+x
print(s)

Enter n = 3
Enter x = 4
Enter x = 4
Enter x = 4
12

In [1]:
# Multiplication Table
n = int(input('Enter n = '))
for i in range(1, 11):
    print(n, '*', i, '=', n*i)

Enter n = 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [3]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    s =s+" "+x
print(s)

Enter n = 1
Enter x = ap=ple
 ap=ple

In [5]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    s =s+" "+x
print(s)

Enter n = 2
Enter x = ram
Enter x = hari
 ram hari

In [ ]:
s = ''
n = int(input('Enter n = '))
for i in range(n):
    x = input('Enter x = ')
    phone = input('Enter phone ')
    s = s + x + ' ' + phone + '\n'

print(s)

In [6]:
s = ''
n = int(input('Enter n = '))
for i in range(n):
    name = input('Enter name = ')
    phone = input('Enter phone ')
    s = s + name + ' ' + phone + '\n'

print(s)

Enter n = 3
Enter name = Raam
Enter phone 938498984
Enter name = hari
Enter phone 345
Enter name = shm
Enter phone 3434
Raam 938498984
hari 345
shm 3434

In [7]:
s = ''
n = int(input('Enter n = '))
for i in range(n):
    name = input('Enter name = ')
    phone = input('Enter phone ')
    if len(phone)== 10:
        s = s + name + ' ' + phone + '\n'
    else:
        print('invalid')
print(s)

Enter n = 2
Enter name = ram
Enter phone 2323232323
Enter name = hari
Enter phone 2233
invalid
ram 2323232323

In [9]:
# 4! = 1*2*3*4
fac = 1
n = int(input('Enter n = '))
for i in range(1, n+1):
    fac = fac*i
    
print(fac)

Enter n = 3
6

In [ ]:
# WAP to detect prime and composite no.

In [ ]:
# Reverse Loop

In [10]:
for i in range(5,0,-1):
    print(i, 'Hello World')

5 Hello World
4 Hello World
3 Hello World
2 Hello World
1 Hello World

In [11]:
a = 'python'
print(a[0])

p

In [12]:
a = 'python'
print(a[-1])

n

In [14]:
a = 'python'
for i in range(5, -1, -1):
    print(a[i])

n
o
h
t
y
p

In [17]:
a = 'python'
for i in range(0, 6):
    print(a[i], end = '')

python

In [18]:
# for each loop
a = 'python'
for i in a:
    print(i)

p
y
t
h
o
n

In [22]:
a = ('python', 'c++', 'java')
for i in a:
    print(i)

python
c++
java

In [20]:
# for each loop
a = 'python'
for i in a:
    print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello

In [ ]:
a =