In [2]:
a = ()
b = tuple()
print(a)
print(b)

()
()

In [3]:
# imutable
# duplicate members
# ordered
# indexed

In [6]:
a = (1,2,3,4)
a[3]

4

In [7]:
a = ('Apple')
type(a)

str

In [9]:
a = ('Apple',)
type(a)

tuple

In [10]:
a = (1,2,3)
b = (4,5,6)
print(a+b)

(1, 2, 3, 4, 5, 6)

In [11]:
# imutable = none deletable or update
a[2] = 4

TypeError: 'tuple' object does not support item assignment

In [13]:
s = ()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    s = s+(x,)
print('The Tuple = ',s)
print('The max value = ',max(s))
print('The Sum = ',sum(s))

Enter n = 4
Enter x = 45
Enter x = 56
Enter x = 67
Enter x = 12
The Tuple =  (45, 56, 67, 12)
The max value =  67
The Sum =  180

In [14]:
a = ("Apple","Ball","Cat","Dog")
for i in a:
    print(i)

Apple
Ball
Cat
Dog

In [15]:
a = ("Apple","Ball","Cat","Dog")
n = len(a)
for i in range(n):
    print(a[i])

Apple
Ball
Cat
Dog

In [16]:
s = ('Apple', 'Ball', 'Cat', 'Dog', 'Fish',"Apple")
if "Apple" in s:
    print("Yes",s.count("Apple"))
else:
    print("No")

Yes 2

In [17]:
# Function used in tuple: max, min, sum, index, count, sorted
a = ("Apple","Ball","Cat","Dog", "Bat")
print(sorted(a))
print(a)

['Apple', 'Ball', 'Bat', 'Cat', 'Dog']
('Apple', 'Ball', 'Cat', 'Dog', 'Bat')

In [18]:
a = ('Apple', 'Ball', 'Cat', 'Dog', 'Bat')
b = list(a)
print(b)

['Apple', 'Ball', 'Cat', 'Dog', 'Bat']

In [20]:
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Bat']
b = tuple(a)
print(b)

('Apple', 'Ball', 'Cat', 'Dog', 'Bat')

In [ ]:
# tuple inside tuple
# a = ((),(),())

In [22]:
a = ((1,2,3),(4,5,6),(6,7,8))
a[0][1]

2

In [23]:
list(a) #tuble inside list

[(1, 2, 3), (4, 5, 6), (6, 7, 8)]

In [24]:
data = []
a = ((1,2,3),(4,5,6),(6,7,8))
b = list(a)
for i in b:
    data.append(list(i))
data

[[1, 2, 3], [4, 5, 6], [6, 7, 8]]

In [25]:
tuple_data = ()
for i in data:
    tuple_data = tuple_data + (tuple(i),)
tuple_data

((1, 2, 3), (4, 5, 6), (6, 7, 8))