In [ ]:
# d = {<key>:<value>,<key>:<value>,<key>:<value>}

In [1]:
d = {"A":"apple"}
d["A"]

'apple'

In [ ]:
# mutable
# ordered
# indexed
# Duplicate

In [2]:
d = {}
d['A'] = 'Apple'
d['B'] = 'Ball'
d

{'A': 'Apple', 'B': 'Ball'}

In [3]:
d = ()
d[0] = 'Apple'
d[1] = 'Ball'
d

TypeError: 'tuple' object does not support item assignment

In [4]:
info = {}
for i in range(2):
    name = input('Enter name = ')
    phone = int(input('Enter Phone = '))
    info[name] = phone
print(info)

Enter name = Ram
Enter Phone = 32545
Enter name = Hari
Enter Phone = 345456
{'Ram': 32545, 'Hari': 345456}

In [6]:
a = {'a':'Apple'} 
b = {'b':'Ball'}
a.update(b)
print(a)

{'a': 'Apple', 'b': 'Ball'}

In [7]:
for i in a:
    print(i)

a
b

In [8]:
for i in a.values():
    print(i)

Apple
Ball

In [9]:
for i in a.items():
    print(i)

('a', 'Apple')
('b', 'Ball')

In [10]:
# update clear del pop
a = {'a': 'Apple', 'b': 'Ball'}
a.clear()
a

{}

In [13]:
a = {'a': 'Apple', 'b': 'Ball'}
del a['a']
a

{'b': 'Ball'}

In [14]:
a = {'a': 'Apple', 'b': 'Ball'}
del a['a':'b']      #slicing doesnot support
a

TypeError: unhashable type: 'slice'

In [15]:
info = {}
n = int(input('Enter n = '))
for i in range(n):
    name = input('Enter name = ')
    ncell_phone = int(input('Enter ncell Phone = '))
    ntc_phone = int(input('Enter ntc Phone = '))
    info[name] = [ncell_phone,ntc_phone]
print(info)

Enter n = 2
Enter name = ram
Enter ncell Phone = 4354456
Enter ntc Phone = 234345
Enter name = hari
Enter ncell Phone = 54657
Enter ntc Phone = 6787
{'ram': [4354456, 234345], 'hari': [54657, 6787]}

In [18]:
name = input('Enter name = ')
print(info[name])

Enter name = hari
[54657, 6787]

In [19]:
d = {'ram': [4354456, 234345], 'hari': [54657, 6787]}
del d['ram'][1]
d

{'ram': [4354456], 'hari': [54657, 6787]}

In [3]:
# Dict inside dict
a = {'Ram':{'NTC':98666545,'NCELL':9866456546},'Hari':{'NTC':98666545,'NCELL':9866456546}}
print(a)

{'Ram': {'NTC': 98666545, 'NCELL': 9866456546}, 'Hari': {'NTC': 98666545, 'NCELL': 9866456546}}

In [4]:
for i in a.values():
    print(i)

{'NTC': 98666545, 'NCELL': 9866456546}
{'NTC': 98666545, 'NCELL': 9866456546}

In [5]:
for i in a.items():
    print(i)

('Ram', {'NTC': 98666545, 'NCELL': 9866456546})
('Hari', {'NTC': 98666545, 'NCELL': 9866456546})

In [6]:
a['Sham'] = {'NTC':688989, 'NCELL':6787788}
print(a)

{'Ram': {'NTC': 98666545, 'NCELL': 9866456546}, 'Hari': {'NTC': 98666545, 'NCELL': 9866456546}, 'Sham': {'NTC': 688989, 'NCELL': 6787788}}

In [7]:
a['Hari']['NTC'] = 555555555 #Update value
a

{'Ram': {'NTC': 98666545, 'NCELL': 9866456546},
 'Hari': {'NTC': 555555555, 'NCELL': 9866456546},
 'Sham': {'NTC': 688989, 'NCELL': 6787788}}

In [8]:
a = {('Apple','Ant'):'A'}
a

{('Apple', 'Ant'): 'A'}